<div class="container" ng-controller="headerController as vm">
    <div class="row">
        <div class="col-md-1 logo">
            <img src="images/logo.png" alt="logo" width="50">
        </div>
        <div class="col-md-10 title">
            <h1>PBox</h1>
        </div>
        <div class="col-md-1 menu">
            <span class="glyphicon glyphicon-menu-hamburger" ng-click="vm.toggleDropdown()"></span>
        </div>
    </div>
    <div class="dropdown-options" ng-show="vm.showDropdown">
        <ul>
            <li ng-click="vm.changeState('management')"><a>Box Management</a></li>
            <li ng-click="vm.changeState('realtime')"><a>Real time tracking</a></li>
            <li ng-click="vm.changeState('history')"><a>History</a></li>
        </ul>
    </div>
</div>