// color's
$primary_color: #fff;
$secondary_color: #2ab8f6;
$tertiary_color: #9b9b9b;
$row_color: #d9dadc;
$yellow: #f8c548;
$red: #f16768;

// height's
$header_height: 60px;
$search_bar_height: 40px;
$footer_height: 60px;