<div class="login" ng-controller="authController as vm">
    <div class="login-form">
        <div class="image">
            <img src="images/logo.png" alt="logo">
        </div>
        <div class="title">
            <h1>PBox</h1>
        </div>
        <div class="list">
            <input type="text" placeholder="Username" ng-model="vm.user.username">
            <input type="password" placeholder="Password" ng-model="vm.user.password">
        </div>
        <div class="submit-button" ng-click="vm.loginUser()">Log In</div>
    </div>
</div>