.box-management {

    .table-legend {
        margin-top: 20px;
        .sensor-icon {
            display: inline-block;
            width: 46px;
            margin-right: 10px;
            img {
                width: 100%;
            }
        }
        span {
            margin-right: 4px;
            font-size: 17px;
        }
    }

    table {
        tr:nth-child(even) {
            background: $row_color;
        } 
        th:last {
            border-right: 0px;
        }
        th {
            padding: 10px;
            border-right: 1px solid $primary_color;
            text-align: center;
            color: $primary_color;
            height: 45px;
            color: $primary_color;
            background-color: $secondary_color;
        }

        td:last-child {
            border-right: 0px;
            text-align: left;
        }
        td {
            border-right: 1px solid $secondary_color;
            text-align: center;
            .button-sync-box {
                background-color: #1a9c9b;
            }
            .sensor-icon {
                display: inline-block;
                margin-right: 2px;
                width: 30px;
                img {
                    width: 100%;
                }
            }
        }
    }
}

//(min-width: 720px) and 

@media (max-width: 720px) { 
    .box-management {
        .hide-720 {
            display: none;
        }
    }
}

@media (max-width: 992px) { 
    .box-management {
        table {
            tr {
                td {
                    button {
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}